## Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
.vscode/

## NuGet
*.nupkg
packages/
*.snupkg

## Configuration
appsettings.Development.json
appsettings.Local.json

## Others
TestResults/
*.dbmdl
*.bak
*.sql
*.mdf
*.ldf
*.tmp
*.swp
*.scc

## Ignore publish output
publish/
